/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-extra: #333333;
  --basic-black-light: #666666;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-blue-dark: #669eC0;
  --basic-blue-darker: #5496bd;
  --basic-brown: #766357;
  --basic-brown-dark: #604e43;
  --basic-brown-darker: #503e33;
  --basic-grey: #f2f2f2;
  --basic-grey-dark: #ebebeb;
  --basic-grey-background: #eeeeee;
  --basic-grey-extra: #bdbbbc;
  --basic-grey-border: #e5e5e5;
  --basic-text-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-text-black-opacity: rgba(0, 0, 0, 0.3);
}

/* Global */

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  text-transform: uppercase;
}

.box {
  min-height: 100%;
  width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
}

.page a {
  text-decoration: none;
}

.page ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Main navigation */

.main-header{
  background-color: var(--basic-white);
}

.main-nav {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 56px;
  font-size: inherit;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.main-nav-logo {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  z-index: 1;
}

.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;

  padding: 0 70px;
}

.site-navigation-item-link {
  color: var(--basic-black);
}

.site-navigation-item-link:hover {
  color: var(--basic-blue);
}

.site-navigation-item-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-item-link:not([href]) {
  color: var(--basic-brown);
  cursor: pointer;
}

.site-navigation-item-link:active:not([href]) {
  color: var(--basic-brown);
  opacity: inherit;
}

.site-navigation-item {
  text-align: left;
}

.site-navigation-item:nth-child(n+3) {
  text-align: right;
}

/* Main Grid */

.main-container {
  display: grid;
  grid-template-columns: auto;
}

/* Welcome */

.welcome {
  height: 509px;
  background-image: url(../img/welcome-mask-bottom.png), url(../img/welcome-bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  margin: 0;
  padding: 0;
  text-align: center;
}

.welcome-title {
  padding-top: 76px;
}

/* Advantages */

.advantages {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  background-color: var(--basic-white);
  text-align: center;
  grid-column-start: 1;
  grid-column-end: -1;
}

.advantages-header {
  grid-column-start: 1;
  grid-column-end: -1;
  justify-self: center;
  margin-top: 42px;
  margin-bottom: 40px;
  width: 510px;
}

.advantages-title {
  margin-top: 0;
  margin-bottom: 45px;
}

.advantage-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-list-item-text-wrapper {
  padding: 25px 50px;
}

.advantage-list-item:first-child {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px;
  grid-column-start: 1;
  grid-column-end: -1;

  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.advantage-list-item-image-right {
  grid-column-start: 2;
  grid-column-end: -1;
}

.advantage-list-item:nth-of-type(2) {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 256px;
  grid-column-start: 1;
  grid-column-end: -1;

  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.advantage-list-item-image-left {
  grid-column-start: 1;
  grid-column-end: 3;
  order:-1;
}

.advantages-title {
  font-size: 21px;
  line-height: 26px;
}


.advantage-list-item-subtitle {
  font-size: 21px;
  line-height: 21px;
}

.advantages-text {
  color: var(--basic-black-extra);
}

.advantage-list-item:nth-of-type(n+3) {
  background-color: var(--basic-grey-background);
  min-height: 256px;
}

/* Feature */

.feature-list {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 330px;
  grid-column-start: 1;
  grid-column-end: -1;
  margin: 0;
  padding: 0;

  color: var(--basic-black);
  background-color: var(--basic-white);
}

.feature-list-item {
  padding: 140px 50px 0 50px;
}

.feature-list-item-subtitle {
  font-size: 21px;
  line-height: 21px;
}

/* Button */

.button {
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.search-button,
.order-button {
  background-color: var(--basic-brown);
}

.details-button,
.order-button {
  padding: 3px 15px;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  position: relative;
  width: 568px;
  height: 86px;
}

.search-button:hover,
.order-button:hover {
  background-color: var(--basic-brown-dark);
}

.search-button:active,
.order-button:active {
  background-color: var(--basic-brown-darker);
  color: var(--basic-text-white-opacity);
}

.details-button {
  background-color: var(--basic-blue);
}

.details-button:hover {
  background-color: var(--basic-blue-dark);
}

.details-button:active {
  background-color: var(--basic-blue-darker);
  color: var(--basic-text-white-opacity);
}

.show-button {
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

/* Search */

.search {
  background-color: var(--basic-white);
  text-align: center;
}

.search-title {
  font-size: 30px;
  line-height: 21px;
  margin-top: 56px;
  margin-bottom: 35px;
}

.search-text {
  font-size: 14px;
  line-height: 24px;
  width: 435px;
  margin: 0 auto;
  margin-bottom: 47px;
}

/* Search form */

.search-form {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 38px 38px 38px 82px;
  grid-row-gap: 30px;
  width: 568px;
  /* min-height: 395px; */
  background-color: var(--basic-white);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 55px;
  box-sizing: border-box;
}

.search-form-label:nth-of-type(-n+3) {
  grid-column: 1/2;
}

.search-form-label:nth-of-type(4) {
  grid-column: 3/4;
  margin-left: 50px;
}

.search-form-input:nth-of-type(-n+2) {
  grid-column: 2/-1;
}

.search-form-input:nth-of-type(4) {
  grid-column: 4/-1;
}

/* .search-form-box:first-child {
  grid-column: 1/-1;
  margin-top: 55px;
}

.search-form-box:nth-child(2) {
  grid-column: 1/-1;
  margin-top: 29px;
}

.search-form-box:nth-child(3) {
  grid-column: 1/2;
  margin-top: 30px;
}

.search-form-box:nth-child(4) {
  grid-column: 2/-1;
  margin-top: 30px;
} */

.search-form-label,
.search-form-input,
.search-form-input::placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.search-form-label {
  text-align: left;
  padding: 0.5em 0.5em 0.5em 0;
}

.search-form-input {
  color: inherit;
  background-color: var(--basic-grey);
  border: none;
  width: 346px;
  height: 38px;
  box-sizing: border-box;
}

.search-form-input-small {
  width: 114px;
}

.search-form-input:hover {
  background-color: var(--basic-grey-dark);
  border: none;
}

.search-form input:focus {
  background-color: var(--basic-white);
  outline: 2px solid #E5E5E5;
}

.find-button {
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-blue);
  grid-column-start: 1;
  grid-column-end: -1;
  margin-top: 22px;
}

.find-button:hover {
  background-color: var(--basic-blue-dark);
}

.find-button:active {
  background-color: var(--basic-blue-darker);
  color: var(--basic-text-white-opacity);
}

/* Map */

.map-image {
  width: 100%;
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0;
}

.contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.contacts-hashtag,
.contacts-phone {
  color: inherit;
}

.developed {
  font-size: inherit;
  line-height: 26px;
  text-align: center;
}

/* Footer-developed */

.developed-link:hover path {
  fill: var(--basic-blue);
}

.developed-link:active path {
  fill: var(--basic-grey-extra);
}

/* Footer-social*/

.social-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.social-list-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: var(--basic-blue);
}

.social-list-item:hover {
  cursor: pointer;
  background-color: var(--basic-blue-dark);
}

.social-list-item:active {
  background-color: var(--basic-blue-darker);
}

.social-list-item:active svg{
  opacity: 0.3;
}

/* Sort */

.sort-wrapper {
  display: flex;
  padding: 32px 73px;
}

.sort {
  background-color: var(--basic-white);
}

.sort-title {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}

.sort-list {
  display: flex;
  flex-grow: 1;

  margin: 0;
  padding-left: 45px;
}

.sort-list-item {
  font-size: 12px;
  line-height: 18px;
  padding-top: 2px;
  padding-left: 32px;
}

.sort-list-item:first-child {
  padding-left: 0;
}

.sort-range-list {
  display: flex;
  align-items: flex-end;
  margin: 0;
}

.sort-range-list-item {
  padding-left: 12px;
}

.sort-list-item-link {
  color: var(--basic-text-black-opacity);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort-list-item-link-current {
  color: var(--basic-blue);
  border: none;
}

.sort-list-item-link:hover {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort-list-item-link:active {
  color: var(--basic-black);
  border: none;
}

.sort-list-item-link-current:hover,
.sort-list-item-link-current:active {
  color: var(--basic-blue);
  border: none;
}

.sort-range-button:hover path{
  fill: var(--basic-black);
}

.sort-range-button:active path{
  fill: var(--basic-blue);
}

.sort-range-button-current path{
  fill: var(--basic-blue);
}

/* Catalog */

.catalog {
  background-color: var(--basic-white);
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
}

.catalog-list-item {
  display: flex;
  border-bottom: 1px solid var(--basic-grey-border);
  padding: 30px 73px;
}

.catalog-list-item:first-child {
  border-top: 1px solid var(--basic-grey-border);
}

.catalog-info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 29px ;
  flex-grow: 1;
}

.catalog-info-block-inner-wrapper{
 display: flex;
}

.catalog-info-block-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 6px;
}

.catalog-info-block-order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* .catalog-info-block-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 6px;
}

.catalog-info-block-column:last-child {
  margin-left: 0px;
} */

.catalog-info-title {
  font-size: 21px;
  line-height: 26px;
  margin: 0;
}

.catalog-list-item-link {
  color: inherit;
}

.catalog-list-item-link:hover {
  color: var(--basic-blue);
}

.catalog-list-item-link:active {
  color: var(--basic-text-black-opacity);
}

.catalog-list-item-type,
.catalog-list-item-price {
  margin: 0;
  margin-bottom: 15px;
  color: var(--basic-black-extra);
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 150px;
}

.rating-list {
  display: flex;
  padding: 0;
}

.rating-list-item {
  margin-left: 5px;
}

.rating-list-item:first-child {
  margin-left: 0;
}

.rating-digit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  margin: 0;
  color: var(--basic-black-light);
  background-color: var(--basic-grey);
}

/* Filters */

.filter {
  color: var(--basic-white);
  background-color: var(--basic-black);
  /* position: relative; */
}

/* .filter::before {
  content: url("../img/welcome-bg.jpg");
  filter: blur(10px);
  position: absolute;
  top: -250px;
  z-index: -1;
} */

.filter-unit {
  border: none;
}

.filter-unit-subtitle {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  border: none;
}

.show-button {
  font-weight: 400;
}

.filter-input[type="number"] {
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
  border-color: var(--basic-white);
}

.filter-input[type="number"]::placeholder{
  text-transform: uppercase;
  color: var(--basic-white);
}
