/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-extra: #333333;
  --basic-black-light: #666666;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-blue-dark: #669eC0;
  --basic-blue-darker: #5496bd;
  --basic-brown: #766357;
  --basic-brown-dark: #604e43;
  --basic-brown-darker: #503e33;
  --basic-grey: #f2f2f2;
  --basic-grey-dark: #ebebeb;
  --basic-grey-background: #eeeeee;
  --basic-grey-extra: #bdbbbc;
  --basic-grey-border: #e5e5e5;
  --basic-text-white-opacity: rgba(255, 255, 255, 0.3);
  --basic-text-black-opacity: rgba(0, 0, 0, 0.3);
}

/* Global */

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  text-transform: uppercase;

}

.box {
  min-height: 100%;
  width: 1200px;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  margin: 0 auto;
  box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
  position: relative;
}

.page a {
  text-decoration: none;
}

.page ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main navigation */

.main-header{
  background-color: var(--basic-white);
}

.main-nav {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 56px;
  font-size: inherit;
  line-height: 26px;
  font-weight: 700;
  color: var(--basic-black);
}

.main-nav-logo {
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  justify-self: center;
  z-index: 1;
}

.site-navigation {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-start: 1;
  grid-column-end: -1;
  grid-row-start: 1;
  grid-row-end: 2;
  align-items: center;

  padding: 0;
  margin: 0;
}

.site-navigation-item-link {
  color: var(--basic-black);
}

.site-navigation-item-link:hover {
  color: var(--basic-blue);
}

.site-navigation-item-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-item-link:not([href]) {
  color: var(--basic-brown);
  cursor: pointer;
}

.site-navigation-item-link:active:not([href]) {
  color: var(--basic-brown);
  opacity: inherit;
}

.site-navigation-item:first-child {
  margin-left: 70px;
}

.site-navigation-item:last-child {
  margin-right: 70px;
}

.site-navigation-item {
  text-align: left;
}

.site-navigation-item:nth-child(n+3) {
  text-align: right;
}

/* Main Grid */

.main-container {
  display: flex;
  flex-direction: column;
}

/* Welcome */

.welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 509px;
  background-image: url(../img/welcome-mask-bottom.png), url(../img/welcome-bg.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom;
  background-size: auto auto, 100% 100%;
}

/* Advantages */

.advantages {
  background-color: var(--basic-white);
  text-align: center;
}

.advantages-header {
  margin: 0 auto;
  width: 520px;
  /* margin: 48px auto 50px; */
  padding: 28px 60px 52px 60px;
}

.advantages-title {
  font-size: 21px;
  line-height: 26px;
  margin-bottom: 45px;
}

.advantages-text {
  margin: 0;
  color: var(--basic-black-extra);
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;

  list-style: none;
  margin: 0;
  padding: 0;
}

.advantage-list-item {
  display: flex;
  flex-wrap: wrap;
  min-height: 256px;
}

.advantage-list-item-text-wrapper {
  box-sizing: border-box;
  padding: 45px 20px;
  width: 400px;
}

.advantage-list-item-number {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.advantage-list-item-text {
  margin: 0;
  margin-top: 25px;
}

.advantage-list-item:nth-child(-n+2) {
  background-color: var(--basic-blue);
  color: var(--basic-white);
}

.advantage-image {
  width: 800px;
  height: 256px;
}

.advantage-list-item-image-left {
  order:-1;
}

.advantage-list-item-subtitle {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 30px;
}

.advantage-list-item:nth-of-type(n+3) {
  background-color: var(--basic-grey-background);
}

/* Feature */

.feature-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.feature-list-item {
  /* padding: 140px 50px 0 50px; */
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 330px;
  box-sizing: border-box;
  padding: 20px 20px;
}

.feature-list-item-subtitle {
  font-size: 21px;
  line-height: 21px;
  margin-top: 140px;
  margin-bottom: 25px;
}

.feature-list-item-text {
  margin: 0;
}

.feature-list-item-house::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 72px;
  background-image: url("../img/house-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 57px;
  left: 40%;
}

.feature-list-item-meal::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 70px;
  background-image: url("../img/meal-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 57px;
  left: 40%;
}

.feature-list-item-souvenirs::before {
  content: "";
  position: absolute;
  width: 75px;
  height: 77px;
  background-image: url("../img/souvenirs-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 54px;
  left: 42%;
}

/* Button */

.button {
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.search-button,
.order-button {
  background-color: var(--basic-brown);
}

.details-button,
.order-button {
  padding: 3px 18px;
}

.search-button {
  font-size: 21px;
  line-height: 26px;
  position: relative;
  width: 568px;
  height: 86px;
}

.search-button:hover,
.order-button:hover {
  background-color: var(--basic-brown-dark);
}

.search-button:active,
.order-button:active {
  background-color: var(--basic-brown-darker);
  color: var(--basic-text-white-opacity);
}

.details-button {
  background-color: var(--basic-blue);
}

.details-button:hover {
  background-color: var(--basic-blue-dark);
}

.details-button:active {
  background-color: var(--basic-blue-darker);
  color: var(--basic-text-white-opacity);
}

.show-button {
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

/* Search */

.search {
  background-color: var(--basic-white);
  text-align: center;
}

.search-header {
  margin: 0 auto;
  padding: 56px 60px 32px;
}

.search-title {
  font-size: 30px;
  line-height: 21px;
  margin: 0;
  margin-bottom: 35px;
}


.search-text {
  font-size: 14px;
  line-height: 24px;
}

/* Search form */

.form-container {
  width: 568px;
  background-color: var(--basic-white);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 55px;
  box-sizing: border-box;

  display: flex;
  flex-wrap: wrap;
}

.search-form {
  width: 458px;
}

.form-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 29px;
}

.form-field:last-of-type {
  margin-bottom: 54px;
}

.column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column:first-child {
  width: 226px;
}

.column:last-child {
  margin-left: 53px;
  flex-grow: 1;
}

.search-form-label,
.search-form-input,
.search-form-input::placeholder {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-transform: uppercase;
}

.search-form-input {
  color: inherit;
  background-color: var(--basic-grey);
  border: none;
  width: 346px;
  height: 38px;
  box-sizing: border-box;
  padding: 0 35px 0 15px;
  box-sizing: border-box;
}

.search-form-input[type="number"] {
  width: 114px;
  padding: 0 38px;
  text-align: center;
}

.search-form-input[type="number"]::-webkit-outer-spin-button,
.search-form-input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.search-form-input[type=number] {
  -moz-appearance:textfield;
}

.search-form-input::-moz-placeholder {
  opacity: 1;
  line-height: 38px;
}

.search-form-input:focus::-moz-placeholder {
  color: transparent;
}

.search-form-input:focus::-webkit-input-placeholder {
  color: transparent;
}

.form-field {
  position: relative;
}

.calender-button {
  position: absolute;
  width: 39px;
  height: 100%;
  background-color: transparent;
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  top: 0;
  right: 0;
  box-sizing: border-box;
}

.calender-button:hover {
  background-image: url("../img/calendar-hover.svg");
}

.calender-button:active {
  background-image: url("../img/calendar-active.svg");
}

.search-form-input-calender:hover + .calender-button{
  background-color: transparent;
}

.search-form-input-calender:focus + .calender-button{
  background-color: transparent;
}

.icon-wrapper {
  position: relative;
}

.minus-button {
  position: absolute;
  width: 38px;
  height: 100%;
  background-color: transparent;
  background-image: url("../img/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  top: 0px;
  left: 0px;
  box-sizing: border-box;
}

.minus-button:hover {
  background-image: url("../img/minus-hover.svg");
}

.minus-button:active {
  background-image: url("../img/minus-active.svg");
}

.plus-button {
  position: absolute;
  width: 38px;
  height: 100%;
  background-color: transparent;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  top: 0px;
  right: 0px;
  box-sizing: border-box;
}

.plus-button:hover {
  background-image: url("../img/plus-hover.svg");
}

.plus-button:active {
  background-image: url("../img/plus-active.svg");
}

.search-form-input:hover {
  background-color: var(--basic-grey-dark);
  border: none;
}

.search-form input:focus {
  background-color: var(--basic-white);
  border: 2px solid #E5E5E5;
  outline: none;
}

.find-button {
  display: block;
  width: 100%;
  padding: 16px 0;
  font-size: 21px;
  line-height: 26px;
  background-color: var(--basic-blue);
}

.find-button:hover {
  background-color: var(--basic-blue-dark);
}

.find-button:active {
  background-color: var(--basic-blue-darker);
  color: var(--basic-text-white-opacity);
}

/* Map */

.static-map-image {
  display: block;
  width: 100%;
}

/* Footer */

.main-footer {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0;
  position: absolute;
  bottom: 0;
  z-index: 1;
  min-height: 120px;
}

.inner-page .main-footer {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  background-color: rgba(255, 255, 255, 0.9);
  margin: 0;
  padding: 0;
  position: static;
}

/* Footer contacts */

.contacts {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  padding-left: 73px;
}

.contacts-hashtag,
.contacts-phone {
  color: inherit;
}

.contacts-hashtag-block {
  display: block;
  margin-bottom: 9px;
}

/* Footer-developed */

.developed {
  font-size: inherit;
  line-height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-right: 73px;
}

.developed-text {
  margin-right: 8px;
}

.developed-link:hover path {
  fill: var(--basic-blue);
}

.developed-link:active path {
  fill: var(--basic-grey-extra);
}

/* Footer-social*/

.social-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.social-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--basic-blue);
  width: 46px;
  height: 48px;
}

.social-list-item:not(:last-child) {
  margin-right: 6px;
}

.social-button:hover {
  background-color: var(--basic-blue-dark);
}

.social-button:active {
  background-color: var(--basic-blue-darker);
}

.social-button:active svg{
  opacity: 0.3;
}

/* Sort */

.sort-wrapper {
  display: flex;
  padding: 30px 73px;
}

.sort {
  background-color: var(--basic-white);
}

.sort-title {
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
}

.sort-text {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin: 0;
}

.sort-list {
  display: flex;
  flex-grow: 1;

  padding: 0;
  margin: 0;
  margin-left: 45px;
}

.sort-list-item {
  font-size: 12px;
  line-height: 18px;
  margin-top: 2px;
  margin-right: 40px;
}

.sort-list-item:not(:first-child) {
  margin-right: 34px;
}

.sort-range-list {
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding: 0;
}

.sort-range-list-item {
  margin-left: 12px;
}

.sort-range-list-item:first-child {
  margin-left: 0;
}

.sort-list-item-link {
  color: var(--basic-text-black-opacity);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort-list-item-link-current {
  color: var(--basic-blue);
  border: none;
}

.sort-list-item-link:hover {
  color: var(--basic-blue);
  border-bottom: 1px dotted var(--basic-blue);
}

.sort-list-item-link:active {
  color: var(--basic-black);
  border: none;
}

.sort-list-item-link-current:hover,
.sort-list-item-link-current:active {
  color: var(--basic-blue);
  border: none;
}

.sort-range-button:hover path{
  fill: var(--basic-black);
}

.sort-range-button:active path{
  fill: var(--basic-blue);
}

.sort-range-button-current path{
  fill: var(--basic-blue);
}

/* Catalog */

.catalog {
  background-color: var(--basic-white);
}

.catalog-list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
}

.catalog-list-item {
  display: flex;
  border-bottom: 1px solid var(--basic-grey-border);
  padding: 30px 73px;
}

.catalog-list-item:first-child {
  border-top: 1px solid var(--basic-grey-border);
}

.catalog-info-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 29px ;
  flex-grow: 1;
}

.catalog-info-block-inner-wrapper{
 display: flex;
}

.catalog-info-block-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 6px;
}

.catalog-info-block-order {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 6px;
}

.catalog-info-title {
  font-size: 21px;
  line-height: 16px;
  margin: 0;
}

.catalog-list-item-link {
  color: inherit;
}

.catalog-list-item-link:hover {
  color: var(--basic-blue);
}

.catalog-list-item-link:active {
  color: var(--basic-text-black-opacity);
}

.catalog-list-item-type,
.catalog-list-item-price {
  margin: 0;
  margin-bottom: 15px;
  color: var(--basic-black-extra);
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  min-width: 150px;
}

.rating-list {
  display: flex;
  padding: 0;
}

.rating-list-item {
  margin-left: 5px;
}

.rating-list-item:first-child {
  margin-left: 0;
}

.rating-digit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px 13px;
  margin: 0;
  color: var(--basic-black-light);
  background-color: var(--basic-grey);
}

/* Filters */

.filter {
  color: var(--basic-white);
  /* background-color: var(--basic-black); */
  position: relative;
  overflow: hidden;
}

.filter::after {
  content: url("../img/welcome-bg.jpg");
  background-repeat: no-repeat;
  filter: blur(10px);
  position: absolute;
  top: -250px;
  left: 0;
  bottom: 0; right: 0;
  z-index: -1;
}

.filter-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 23px 73px 32px;
}

.filter-fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.filter-unit {
  margin: 0;
  padding: 0;
}

.filter-checkbox-area {
  width: 253px;
}

.filter-column-cost {
  margin-left: auto;
}

.filter-unit-row {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 24px;
}

.filter-unit-row:last-of-type {
  margin-bottom: 0;
}

.filter-unit-checkbox-subtitle {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 30px;
}

.filter-unit-cost-subtitle {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  margin-bottom: 14px;
}

.label-checkbox {
  position: relative;
  cursor: pointer;
  user-select: none;
  margin-left: 40px;
}

.filter-input + .label-checkbox::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  top: 0;
  left: -42px;
}

.filter-input:checked + .label-checkbox::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  top: 0;
  left: -42px;
}

.filter-input:disabled + .label-checkbox::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-off-disabled.svg);
  background-repeat: no-repeat;
  top: 0;
  left: -42px;
}

.filter-input:disabled:checked + .label-checkbox::before {
  content: "";
  position: absolute;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on-disabled.svg);
  background-repeat: no-repeat;
  top: 0;
  left: -42px;
}

.filters-form-price-range {
  display: flex;
  position: relative;
}

.filters-form-price-range::before {
  content: "";
  position: absolute;
  width: 2px;
  height: 22px;
  top: 7px;
  right: 49%;
  background-color: var(--basic-white);
}

.filter-input-number {
  box-sizing: border-box;
  width: 100%;
  height: 36px;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  text-align: center;
}

.filter-input-number::placeholder {
  text-align: center;
}

.filter-input-number:focus{
  box-sizing: border-box;
  border: 2px solid var(--basic-white);
  border-radius: 2px;
  outline:none;
}

.filter-input-number:first-of-type {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.filter-input-number:last-of-type {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.show-button-container {
  margin-top: 32px;
  text-align: center;
}

.show-button {
  font-weight: 400;
  padding: 8px 34px;
}

.show-button:hover {
  color: var(--basic-black);
  background-color: var(--basic-white);
}

.filter-input[type="number"] {
  color: var(--basic-white);
  text-transform: uppercase;
  background-color: transparent;
  border-color: var(--basic-white);
}

.filter-input[type="number"]::placeholder{
  text-transform: uppercase;
  color: var(--basic-white);
}

.filter-input-number::-webkit-outer-spin-button,
.filter-input-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-input-number {
  -moz-appearance:textfield;
}

.filter-input-number::-moz-placeholder {
  opacity: 1;
  line-height: 32px;
}

.filter-input-number:focus::-moz-placeholder {
  color: transparent;
}

.filter-input-number:focus::-webkit-input-placeholder {
  color: transparent;
}

/* Slider-range */

.slider-range {
 width: 100%;
 margin: 20px 0;
}

.slider-control {
  margin-bottom: 20px;
  position: relative;
}

.scale {
  height: 2px;
  background-color: var(--basic-text-white-opacity);
}

.bar {
  width: 80%;
  height: 2px;
  background-color: var(--basic-white);
}

.toggle {
  position: absolute;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  top: -10px;
  box-shadow: 0 2px 0 rgba(171, 171, 171, 0.3);
}


.toggle:hover {
  transform: scale(1.3);
}

.toggle-min {
  left : 0;
}

.toggle-max {
  left: 252px;
}
