/* Variables */

:root {
  --basic-black: #000000;
  --basic-black-extra: #333333;
  --basic-white: #ffffff;
  --basic-blue: #81b3d2;
  --basic-blue-hover: #669eC0;
  --basic-blue-active: #5496bd;
  --basic-brown: #766357;
  --basic-brown-hover: #604e43;
  --basic-brown-active: #503e33;
  --basic-grey: #f2f2f2;
  --basic-grey-hover: #ebebeb;
  --basic-grey-background: #eeeeee;
  --basic-grey-extra: #bdbbbc;
}

/* Global */

body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-grey);
  text-transform: uppercase;
}

.page a {
  text-decoration: none;
}

.page ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* Main navigation */

.main-header{
  background-color: var(--basic-white);
}

.main-nav {
  font-weight: bold;
  line-height: 26px;
  color: var(--basic-black);
}

.site-navigation a {
  color: var(--basic-black);
}

.site-navigation a:hover {
  color: var(--basic-blue);
}

.site-navigation a:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.site-navigation-current a:not([href]) {
  color: var(--basic-brown);
}

/* Advantages */
.advantages {
  background-color: var(--basic-white);
  text-align: center;
}

.advantages h2 {
  font-size: 21px;
  line-height: 26px;
}

.advantages h3 {
  font-size: 21px;
}

.advantages p {
  color: var(--basic-black-extra);
}

.advantage-list-item:nth-of-type(n+3) {
  background-color: var(--basic-grey);
}

/* Button */

.button {
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
}

.search-button,
.order-button {
  background-color: var(--basic-brown);
}

.search-button {
  font-size: 21px;
}

.more-button {
  background-color: var(--basic-blue);
}

.show-button {
  border: 2px solid #ffffff;
  border-radius: 2px;
  background-color: transparent;
}

/* Search */

.search {
  background-color: var(--basic-white);
  text-align: center;
}

.search h2 {
  font-size: 30px;
}

.search p {
  line-height: 24px;
}

/* Search form */

.search-form label,
.search-form input,
.search-form input::placeholder {
  color: inherit;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 26px;
}

.search-form input[type="text"] {
  color: var(--basic-black);
  background-color: var(--basic-grey);
}

.find-button {
  font-size: 21px;
  background-color: var(--basic-blue);
}

/* Footer */

.main-footer {
  background-color: rgba(255, 255, 255, 0.9);
}

.contacts {
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
}

.contacts a {
  color: inherit;
}

.developed {
  text-align: center;
}

/* Social*/
.social-list-item {
  background-color: var(--basic-blue);
  text-align: center;
}

.social-button:hover {
  background-color: var(--basic-blue-hover);
}

.social-button:active {
  background-color: var(--basic-blue-active);
}

/* Hotels */

